@layer my {


	html, body {
		padding: 0;
		margin: 0
	}

	.app-container {
		margin: auto;
		max-width: 1080px;
		min-height: 100vh;
	}

	.app-container {
		display: grid;
		grid-template-columns: 4fr minmax(500px, 1fr);
		grid-template-rows: 1fr 1fr;
		gap: 5px 5px;
		grid-auto-flow: row;
		grid-template-areas:
    "code side"
    "bottom bottom";

		.code {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 128px;
			gap: 5px 5px;
			grid-auto-flow: row;
			grid-template-areas:
    "code-mirror"
    "errors";
			grid-area: code;

			.errors {
				grid-area: errors;
			}

			.code-mirror {
				grid-area: code-mirror;
			}
		}

		.side {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 40px 715px;
			gap: 5px 5px;
			grid-auto-flow: row;
			grid-template-areas:
    "control control"
    "register stack";
			grid-area: side;

			.control {
				grid-area: control;
				display: flex;
				flex-wrap: nowrap;
				align-items: center;
				justify-content: center;
				flex-direction: row;
			}

			.register {
				grid-area: register;
			}

			.stack {
				grid-area: stack;
				max-height: 100%;
				overflow: auto;
			}
		}

		.bottom {
			display: grid;
			grid-template-columns: 1.5fr 0.5fr;
			grid-template-rows: 1fr;
			gap: 5px 5px;
			grid-auto-flow: row;
			grid-template-areas:
    		"devises raw";
			grid-area: bottom;

			.raw {
				grid-area: raw;
			}

			.devises {
				grid-area: devises;
			}
		}


	}


}
