@layer my {
	@import "./assets/flags";
	html,
	body {
		padding: 0;
		margin: 0;
	}

	#app {
		margin: auto;
		min-height: 100vh;
		max-width: min(1240px, calc(100vw - 40px));
	}

	#speedControl {
		.p-inputtext {
			margin-top: 3px !important;
		}
	}

	.ic10-container {
		display: grid;
		grid-template-columns: 7fr 2fr 3fr;
		grid-template-rows: min(40px, min-content) auto auto 1fr;
		gap: 5px 5px;
		grid-auto-flow: row;
		grid-template-areas:
			"control control control"
			"stack stack stack"
			"code code code"
			"bottom bottom bottom";

		.code {
			grid-area: code;
		}

		.control {
			grid-area: control;
		}

		.stack {
			grid-area: stack;
		}

		.bottom {
			grid-area: bottom;

			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr;
			grid-auto-flow: row;
			grid-template-areas: "devises";

			.raw {
				grid-area: raw;
			}

			.devises {
				grid-area: devises;
			}
		}
	}

	.prop {
		width: 100%;

		.key {
			justify-content: flex-start !important;
			width: 35% !important;
		}

		.val {
			width: 55% !important;
		}

		.btn {
			width: 10% !important;
		}
	}

	.pi {
		&.pi-plausible {
			$size: 24px;
			background-color: transparent;
			background-image: url("/public/icons/plausible.png");
			background-size: contain;
			background-repeat: no-repeat;
			width: $size;
			height: $size;
			opacity: 0.5;
			padding: 0 $size 0 0;

			&:hover {
				opacity: 1;
			}
		}

		&.pi-kofi {
			$size: 30px;
			background-color: transparent;
			background-image: url("/public/icons/ko-fi.png");
			background-size: contain;
			background-repeat: no-repeat;
			display: block;
			width: $size;
			height: $size;
			padding: 0 $size 0 0;
		}

		&.pi-steam {
			$size: 30px;
			background-color: transparent;
			background-image: url("https://store.steampowered.com/favicon.ico");
			background-size: contain;
			background-repeat: no-repeat;
			display: block;
			width: $size;
			height: $size;
			padding: 0 $size 0 0;
		}

		&.pi-vk {
			$size: 30px;
			background-color: transparent;
			background-image: url("/public/icons/vk.svg");
			background-size: contain;
			background-repeat: no-repeat;
			display: block;
			width: $size;
			height: $size;
			padding: 0 $size 0 0;
		}

		&.pi-weblate {
			$size: 30px;
			filter: brightness(0);
			background-color: transparent;
			background-image: url("https://translate.traineratwot.site/favicon.ico");
			background-size: contain;
			background-repeat: no-repeat;
			display: block;
			width: $size;
			height: $size;
			padding: 0 $size 0 0;
		}
	}

	@keyframes pulse-animation {
		0% {
			box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
		}
		100% {
			box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
		}
	}

	.joker {
		transform: rotateY(180deg);
	}

	.pulse {
		animation: pulse-animation 2s infinite;
	}

	.p-menubar .p-menuitem {
		margin: 0 !important;
	}

	*[data-ic10lang="tooltip"] {
		padding: 10px;
		margin: 0 !important;
		white-space: pre-wrap;
		max-width: 40vw;
	}
	.cm-tooltip {
		z-index: 1000 !important;
	}

	.ruler {
		border-left: 1px solid rgba(255, 255, 255, 0.2);
		min-height: 100%;
	}

	.cm-activeLine.nextRunLine {
		background-color: rgb(0 0 0 / 10%) !important;
	}

	.nextRunLine {
		background-color: rgb(0 0 0 / 20%);
	}

	.p-card.p-component {
		.p-card-footer {
			margin-top: auto;
		}
	}

	.pin-device-dialog {
		padding: 5px !important;

		.p-card-body {
			padding: 5px !important;
		}
	}
}
